<% include header %>
   <% if(rs.length >0) { %>
      <table>
        <tr><th>Survey</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
           <tr>
                <td><a href="/results/?firstname=<%= rs[i].firstname %> "> <%= rs[i].la\
stname%> <%= rs[i].sex%> <%= rs[i].transport%></a></td>
           </tr>
        <% } %>
      </table>
      <% } else { %>
         No answers to work with
      <% } %>
<% include footer %>
