<!-- program does not work right now -->

<% include header %>

<div id="content">
<p> Here are all the answers you gave: <br>
First name: Survey.firstname <br>
Last name: Survey.lastname <br>
Sex:  Survey.sex<br>
Your favored method of getting around: Survey.transport </p>
<a href="/survey.html">Start over</a>
<a href="/.html">Back to main page</p>
</div>

<% include footer %>
